body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: left;
  color: white;
  line-height: 1.6;
  font-size: 20px;
  font-family: 'Duru Sans', sans-serif;
  margin: 0 0 1.5em;
}

h1, h2, h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #34495E;
}

dt {
  font-size: 18px;
}

dd {
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

.home {
  background: url('http://farm3.staticflickr.com/2875/12401269175_cc6c39e579_h.jpg') center center no-repeat fixed #1F8DD6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.header {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background-color: #2D3E50;
  opacity: 0.5;
}

.header ul {
  display: inline-block;
}

.header a {
  color: #6FBEF3;
}

.header li a:hover,
.header li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

.intro {
  margin: auto;
  padding: 40px 0 0;
}

.intro img.avatar {
  border-radius: 50%;
  margin: 2em 0 3.5em;
  width: 100px;
}

.intro a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid;
}

.intro a:hover,
.intro a:focus {
  color: black;
}

.projects {
  top: 100%;
  min-height: 100%;
  background-color: white;
}

.projects .center-block {
  float: none;
}

.projects h3 {
  margin-top: 40px;
}

.section {
  position: absolute;
  width: 100%;
}
@media (max-width: 400px), (max-height: 500px) {
  .section {
    position: relative;
  }
}
